# ignore whole projects
misc/svn-gatekeeper/experiment

# ignore temporary files
*.swp


# ignore IntelliJ project files
.idea/
## module library
*.iml
## project and library info
*.ipr
## personal data such as IDE arrangement
*.iws

# ignore Eclipse project files
.project
.classpath
.settings/



# ignore build files
bin/
*.class
build/

# ignore generated source files
generated/

# ignore gradle files
.gradle/
.gradletasknamecache
gradle-app.setting

## make sure to include this since jars are normally ignored
!gradle-wrapper.jar

# Ignore gradle.properties
gradle.properties
*/gradle.properties

# Ignore application working directory
work/
