# ignore whole projects
misc/svn-gatekeeper/experiment

# ignore temporary files
*.swp

# ignore preference files in top level directory
/code/
/layouts/
/settings.json
/themes/

# ignore program dumps
program-dump.txt

# ignore IntelliJ project files
.idea/
## module library
*.iml
## project and library info
*.ipr
## personal data such as IDE arrangement
*.iws

# ignore Eclipse project files
.project
.classpath
.settings/

# ignore R studio history files
.Rhistory


# ignore build files
bin/
*.class
build/

# ignore generated and external files
generated/
external/

# ignore gradle files
.gradle/
.gradletasknamecache
gradle-app.setting

## make sure to include this since jars are normally ignored
!gradle-wrapper.jar

# Ignore gradle.properties
gradle.properties
*/gradle.properties

# Ignore application working directory
/work/settings.json # Temporarily allowing work dir until I can copy out of a jar file

# Ignore logs
*.log

# Ignore generated tex files
docs/final-report/tables/*.tex

# Ignore personal helper scripts
copy-settings.sh
