
.plain {
  -fx-fill: purple;
  -fx-font-weight: bold;
}

.keyword {
    -fx-fill: yellow;
}

.register {
    -fx-fill: green;
    -fx-font-weight: italic;
}

.constant {
    -fx-fill: orange;
}


.annotation {
    -fx-fill: silver;
}

.comment {
    -fx-fill: grey;
}
