.window {
    -fx-background-color: linear-gradient(to bottom, #000000 0%,#0000bb 100%);
    -fx-opacity: 0.8;
}

.window:hover {
    -fx-background-color: red;
    -fx-opacity: 1;
}

.window-titlebar {
    -fx-opacity: 1;
}
