
.plain {

}

.instruction {
    -fx-fill: blue;
    -fx-font-weight: bold;
}

.directiveid {
	-fx-fill: green;
    -fx-font-weight: bold;
}

.error {
	-fx-fill: red;
	-fx-font-weight: bold;
}

.register {
    -fx-fill: green;
}

.constant {
    -fx-fill: purple;
}


.annotation {
    -fx-fill: yellow;
}

.comment {
    -fx-fill: grey;
}

