.cpu-component{
    -fx-fill: "#fff";
    -fx-stroke: "#000";
}

.cpu-component-label{
    -fx-fill: "#000";
    -fx-text-alignment: center;
    -fx-font: 18px "Arial, sans-serif";
}

.cpu-component-label.ALU{
    -fx-text-alignment: "right";
}