.window {
    -fx-background-color: linear-gradient(to bottom, #dddddd 0%,#aaaabb 100%);
    -fx-opacity: 0.95;
}

.window:hover {
    -fx-opacity: 1;
}

.window-titlebar {
    -fx-opacity: 1;
}

.window.highlighting .window-titlebar{
    -fx-background-color: red;
}